* {
  font-family: 'Montserrat', sans-serif;
}

html, body, #root {
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 300px;
  height: 100%;

  background-color: #fff;
}

.nav__logo {
  text-align: center;
  padding-top: 2em;
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  
  height: 100%;
  
}

.nav__menu-item {
  text-align: center;
  padding: 0 0 3em 0;
}

.nav__menu-item li {
  padding: 0.5em 1em;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  height: 100%;

  position: relative;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5em;

  width: 100%;
  height: 100%;

  background-color: white;
  color: black;
  
  padding: 5em;
  padding-left: 10em;
  box-sizing: border-box;

}

.app-body__block {
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 1px black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.project {
  position: absolute;
  transition: 1s all;

  background: beige;
  width: 50%;
  height: 100%;

  padding: 2em;
  box-sizing: border-box;

  overflow: scroll;
}

.project--hide {
  right:-50%;
}

.project--show {
  right: 0;
}