* {
  font-family: 'Montserrat', sans-serif;
}

html, body, #root {
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 300px;
  height: 100%;

  background-color: #fff;
}

.nav__logo {
  text-align: center;
  padding-top: 2em;
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  
  height: 100%;
  
}

.nav__menu-item {
  text-align: center;
  padding: 0 0 3em 0;
}

.nav__menu-item li {
  padding: 0.5em 1em;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-body {
  width: 100%;
  height: 100%;

  background-color: #222;
  color: white;
  
  padding: 20px;
  box-sizing: border-box;
}

/* .App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
